#cmd_form
  %img{ :src => '/images/run.png' }
  %form#main_form{ :action => '/run/', :method => :post }
    %input{ :name => :cmd }
    %input#main_form_submit{ :type => :submit, :value => :execute }
#list
  =haml :list, :layout => false, :locals => { :commands => @commands }
#files_library
