%html
  %head
    %title SinCmd
    %script{ :type => 'text/javascript', :src => '/javascript/jquery-1.4.4.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascript/main.js' }
    %link{ :rel => :stylesheet, :href => '/stylesheets/main.css', :type => 'text/css'}
  %body
    = yield
