* {
}
body {
    height: 95%;
    width: 99%;
}
a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#cmd_form {
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}
#list { 
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    text-align: left;
    width: 40%;
    padding-top: 3px;
    border: 1px solid black;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;

}
#list img {
    float:inherit;
}
#list .list_item {
    clear: both;
    float: left;
    margin-bottom: 5px;
    width: 100%;
    padding-left: 5px;
}
#footer {
    position: absolute;
    bottom: 0;
}
